<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Webapp</title>
    <base href="/app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
    <link rel="stylesheet" href="/scripts/app/styles.3ff695c00d717f2d2a11.css">
</head>

<body>


    <app-root></app-root>
    <app-eshop></app-eshop>
    <!-- <app-eshop></app-eshop> -->
    <!-- Issue with the below - 2 tables created -->
    <!-- <app-eshop></app-eshop>
  <app-root></app-root> -->

    <script src="/scripts/app/5-es2015.22f87dbee927a78ed765.js" type="module"></script>
    <script src="/scripts/app/5-es5.22f87dbee927a78ed765.js" nomodule defer></script>

    <!-- COPIED from index.html generated from angular build in public\scripts\app folder -->
    <script src="/scripts/app/runtime-es2015.acf40cfa0b54d355b8d2.js" type="module"></script>
    <script src="/scripts/app/runtime-es5.acf40cfa0b54d355b8d2.js" nomodule defer></script>
    <script src="/scripts/app/polyfills-es5.2b9ce34c123ac007a8ba.js" nomodule defer></script>
    <script src="/scripts/app/polyfills-es2015.0ef207fb7b4761464817.js" type="module"></script>
    <script src="/scripts/app/main-es2015.ced12dacf1a1584a5640.js" type="module"></script>
    <script src="/scripts/app/main-es5.ced12dacf1a1584a5640.js" nomodule defer></script>

</body>

</html>