<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Webapp</title>
    <base href="/app">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" type="image/x-icon" href="favicon.ico"> -->
</head>

<body>


    <app-root></app-root>
    <app-eshop></app-eshop>
    <!-- <app-eshop></app-eshop> -->
    <!-- Issue with the below - 2 tables created -->
    <!-- <app-eshop></app-eshop>
  <app-root></app-root> -->

    <script src="/scripts/app/runtime.js" defer></script>
    <script src="/scripts/app/polyfills-es5.js" nomodule defer></script>
    <script src="/scripts/app/polyfills.js" defer></script>
    <script src="/scripts/app/main.js" defer></script>
    <script src="/scripts/app/5.js" defer></script>
</body>

</html>