<html>

<head>
    <title>Register User</title>
</head>

<body>
    <h1>Register User</h1>
    <form action="/register" method="POST">
        <section>
            <span>Name</span>
            <input type="text" name="name">
        </section>
        <section>
            <span>Age</span>
            <input type="number" name="age">
        </section>
        <section>
            <button type="submit">
                Save
            </button>
        </section>
    </form>
</body>

</html>