<html>

<head>
    <title>Reports</title>
</head>

<body>
    <h1>Available Reports</h1>
    <ul>
        <li><a href="/reports/wsr"> Weekly Status Report </a></li>
        <li><a href="/reports/bwsr"> Bi-Weekly Status Report</a></li>
        <li><a href="/reports/msr"> Monthly Status Report</a></li>        
    </ul>
</body>

</html>