<html>

    <head>
        <title>Email Subscription</title>
    </head>

    <body>
        <h1>Email Subscription</h1>
        <form>
            <section>
                <span>Name</span>
                <input type="text" name="name" id="username" />
            </section>
            <section>
                <span>Email</span>
                <input type="email" name="email"id="useremail" />
            </section>
            <section>
                <button type="button" onclick="subscribeUser()">
                    Save
                </button>
            </section>
        </form>
        <script src="/scripts/client.js"></script>
    </body>
</html>