<h1 [title]="appDescription"> <!-- Attribute Level Binding -->
    {{appName}}<!-- Inner HTML -->
</h1>

<button (click)="handleClick()"> <!-- Event -->
    Update
</button>
<span>
    {{autoNumber}}
</span>

<!-- input element -->

<div>
    <span>Name: </span>
    <input type="text" [value]="userName" (input)="handleUserNameChange($event)">
    <span>Updated Name: {{userName}}</span>
</div>


<!-- Directive => [(ngModel))] -->
<!-- Need to import in app.module.ts -->
<!-- Similar to above -->
<div>
    <span>Name: </span>
    <input type="text" [(ngModel)]="userName" /> 
    <span>Updated Name: {{userName}}</span>
</div>

<!-- [(ngModel)] => value based directive
*ngFor =>  Structural Directive -->
<ul>
    <li *ngFor="let point of dataPoints">
        {{point}}
    </li>
</ul>