<h2>EShop 2.0</h2>


<!-- (onProductAdd) tells that it is subscribed to the onProductAdd function and fetch the output value -->
<!-- <app-productentry (onProductAdd)="addProduct($event)"></app-productentry>
<app-productlist [products]="EShopInventory">
    Content Projection
    <header>
        <h3>
            EShop Inventory Status
        </h3>
    </header>
    <footer>
        <h3>
            Product Rates as per Yesterday
        </h3>
    </footer>
    <div id="div1">
        <h3>
            Div 1
        </h3>
    </div>
    <div id="div2">
        <h3>
            Div 2
        </h3>
    </div>
    <div id="div3">
        <h3>
            EShop Inventory Status {{EShopInventory.length}}
        </h3>
    </div>
</app-productlist>
 -->

<div>
    <ul>
        <li><a routerLink="list">Available Products</a></li>
        <li><a routerLink="entry">Product Entry</a></li>
    </ul>
</div>

<!-- Second level of router-outlet -->
<router-outlet></router-outlet>